*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.container {
    display: flex;
    padding: 25px 50px;
    text-align: center;
    background: cadetblue;
    color: white;
}

.container {
    padding: 50px;
    background: goldenrod;
}